.filter {
    display: none;
}

.filter-button {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0.5rem;
    width: 2.3125rem;
    height: 2.3125rem;
    position: absolute;
    z-index: 2;
    left: 2px;
    color: #c8c8c8;
    margin: 0;
}

.filter-button:focus,
.filter-button:hover {
    color: #000;
    outline-color: rgba(0, 0, 0, 0);
}


.filter-menu {
    width: 94vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fafafa;
    box-shadow: 0 3px 20px #8c8470;
    transition: transform 300ms ease-in-out;
    z-index: 2;
}

.filter-menu dt,
.filter-menu dd a{
    font-size: 1rem;
}

.filter-menu i {
    display: none;
}

@media only screen and (max-width: 40.063em) {
    .filter:not(:checked) ~ .filter-menu {
        transform: translateY(-200%);
    }

    .filter(:checked) ~ .filter-menu {
        transform: translateY(0%);
    }
}

@media only screen and (min-width: 642px) and (max-width: 688px) {
    .filter-menu dd {
        margin-left: 0;
    }

    .filter-menu dt + dd {
        margin-left: 1em;
    }
}

@media only screen and (min-width: 40.063em) {
    .filter-button {
        display: none;
    }

    .filter-menu {
        float: right;
        display: block;
        width: auto;
        height: auto;
        background: none;
        box-shadow: none;
        transform: translateY(0);
    }

    .filter-menu dt,
    .filter-menu dd{
        font-size: 0.875rem;
    }

    .filter-menu i {
        display: inline;
    }

    .filter-menu span {
        display: none;
    }
}

@media only screen and (min-width: 1026px) {
    .filter-menu span {
        display: inline;
    }
}