body {
    background-color: #eeeade;
    background-image: url(../img/map-background.svg);
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.message {
    padding: 0;
    margin: 0;
    border: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.alert-box.warning {
    width: 100%;
    text-align: center;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    z-index: 99;
    margin: 0;
}

.alert-box.warning a {
    color: #0000c1;
}

.topbar {
    background-color: #eeeade;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    height: 46px;
}

.search-container {
    margin: 0.25em;
    padding: 0 0.25em;
    border: none;
    padding-right: 15px;
}

.search-container div * {
    margin-bottom: 0.25em;
}

.search-container .search-input {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
    padding-left: 2.3125rem;
}

.map {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/map-background.svg);
}

.map.center {
    width: 100vw;
    left: 0;
    height: 100%;
}

.gm-style-iw {
  max-height: 120px;
  overflow: hidden;
  max-width: 200px;
}

.hidden.placeslist.fixed,
.topbar.hidden {
    display: none;
}

img {
    max-width: none;
}

@media only screen and (min-width: 40.063em) {
    .alert-box.warning {
        font-size: 1.2em;
    }

    .search-container .search-input {
        padding-left: 8px;
    }
}